@import "reset.css";

@font-face {
  font-family: "Druk";
  font-weight: bold;
  src: url(../fonts/DrukTextWide-Bold.ttf) format('truetype');
}
@font-face {
  font-family: "Fugue";
  font-weight: normal;
  src: url(../fonts/fugue_regular.otf) format('truetype');
}

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  font-family: "Druk", sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.header__white_rectangles {
  display: flex;
  flex-wrap: wrap;

  width: 90px;
  height: 60px;
  position: fixed;
  z-index: 2;
}

.white_rectangle {
  width: 0px;
  height: 0px;
  border-top: 30px solid #fff;
  border-right: 30px solid transparent;
}

.white_rectangle:hover {
  border-top: 30px solid #ff0000;
}

.header__red {
  display: none;
}

header img {
  width: 67%;
  height: auto;
  z-index: 1;
  max-height: 400px;

  position: absolute;
  top: 0;
  left: 0;
}

.big__green__rectangle {
  display: none;
}

header h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 8vw;
  line-height: 8.5vw;

  padding: 24px 18px;
  position: fixed;
  margin-top: 77px;
  z-index: 6;
}

.header__box {
  width: 5vw;
  height: 20vh;
  background: #282828;

  position: absolute;
  top: 116px;
  z-index: 2;
  animation: shake 2s linear infinite;
}

/* правая часть вверх */

.header__black_rectangle {
  width: 16vh;
  height: 24vh;
  position: absolute;

  background: #282828;

  z-index: 2;
  top: 0;
  right: 0;
}

.header__span__img {
  width: 26vw;
  position: absolute;
  top: 24vh;
  right: 0;
  left: auto;
  height: 25vw;
  width: auto;

}

.header__span {
  display: flex;
  flex-direction: column;
}

.header__span__line {
  width: 100px;
  height: 9px;
  padding-top: 8px;

  color: #F02828;

  position: fixed;
  z-index: 3;
}


header span img {
  width: 60px;
  height: 93px;

  position: relative;
  right: 0;
}

.main__red {
  width: calc(9vh * 3);
  height: 302px;

  background: #F02828;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-flow: wrap row;

  z-index: 3;
}

.circle {
  width: 9vh;
  height: 9vh;
  border-radius: 100%;

  background: #282828;
}

.main__green {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  position: fixed;
  bottom: 0;
  right: 0;

}


.main__green__rectan {
  width: 24px;
  background: #426651;
}

.main__green__rectan:nth-child(1) {
  height: 29vh;
}

.main__green__rectan:nth-child(2) {
  height: 33.5vh;
}

.main__green__rectan:nth-child(3),
.main__green__rectan:nth-child(4),
.main__green__rectan:nth-child(5),
.main__green__rectan:nth-child(6),
.main__green__rectan:nth-child(7)
{
  height: 36.5vh;
}

.casino {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
}

.casino img {
  width: 124px;
  margin-bottom: -80px;
  animation: rotate 5s linear infinite;

}

.casino img:nth-child(1) {
  animation: rotate 13s linear infinite;
}

.casino img:nth-child(2) {
  animation: rotate2 5s linear infinite;
}
.casino img:nth-child(3) {
  animation: rotate2 12s linear infinite;
}

.main__black {
  width: 80vw;
  height: 21vh;
  background-color: #282828;

  position: fixed;
  transform: translateY(90vw);
  z-index: -1;
}

.main__red__text {
  width: 20vh;
  height: 13vh;
  background: #F02828;

  position: fixed;
  transform: translateY(42vh) translateX(67vw);
}

.main__red__text h2 {
  color: #fff;
  padding: 6px 4px;
  font-family: "fugue";
  font-size: 16px;
}

.main__circle {
  background: #282828;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  transform: translateX(30vh) translateY(62vw);

  position: fixed;
  z-index: -1;
}

.main__group__black {
  display: none;
}

.main__group__red {
  display: none;
}


@media (min-width: 413px) and (max-width: 896px) {
  .casino{
    margin-right: -30px;
  }

  .casino img {
    width: 142px;
  }

  .main__black {
    transform: translateY(85vw);
  }

  .main__red{
    height: 379px;
  }

  .main__red__text {
    transform: translateY(67vw) translateX(66.9vw);
  }

  .main__green__rectan:nth-child(1) {
    height: 33vh;
  }

  .main__green__rectan:nth-child(2) {
    height: 37.5vh;
  }

  .main__green__rectan:nth-child(3),
  .main__green__rectan:nth-child(4),
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7)
  {
    height: 41.5vh;
  }

  .main__red__text h2 {
    font-size: 20px;
  }

  .main__circle {
    transform: translateX(33vh) translateY(56vw);
  }
}

@media (min-height: 744px) and (max-height: 812px) {
  .header__black_rectangle {
    width: 12vh;
    height: 19vh;
  }

  .header__span__img {
    top: 19vh;
  }


  .main__red {
    height: 440px;
  }

  .main__red__text{
    transform: translateY(34vh) translateX(67vw);
  }

  .main__green__rectan:nth-child(1) {
    height: 37vh;
  }

  .main__green__rectan:nth-child(2) {
    height: 41.5vh;
  }

  .main__green__rectan:nth-child(3),
  .main__green__rectan:nth-child(4),
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7)
  {
    height: 45.5vh;
  }

  .casino img {
    width: 154px;
  }

  .main__circle {
    transform: translateX(26vh) translateY(62vw);
  }

  .main__black{
    height: 11vh;
  }
}

@media (min-height: 813px) {
  .main__red {
    height: 453px;
  }

  .header__black_rectangle {
    width: 12vh;
    height: 17vh;
  }

  .header__span__img {
    top: 17vh;
  }

  .main__black {
    transform: translateY(85vw);
    height: 18vh;
  }

  .casino img {
    width: 17vh;
  }

  header img {
    height: 55vh;
    max-height: none;
  }

  .main__circle {
    transform: translateY(64vw);
  }

  .main__red__text {
    transform: translateY(38vh) translateX(67vw);
  }
}

@media (min-width: 585px) {
  .main__red {
    height: 578px;
  }

  .main__black {
    top: -28px;
  }

  .main__green__rectan {
    width: 42px;
  }

  .main__green__rectan:nth-child(1){
    height: 22vh;
  }

  .main__green__rectan:nth-child(2){
    height: 27vh;
  }

  .main__green__rectan:nth-child(3),
  .main__green__rectan:nth-child(4),
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7) {
    height: 31.5vh;
  }

  .casino img {
    margin-bottom: -128px;
    width: 19vh;
    max-width: 200px;
  }

  .header__black_rectangle {
    width: 15vh;
  }

  .main__red__text {
    width: 30vh;
    transform: translateY(46vh) translateX(67vw);
  }

  .main__red__text h2 {
    font-size: 24px;
  }

  header img {
    height: 56vh;
  }
}


@media (min-width: 767px){
  header img{
    max-height: 677px;
  }

  .header__span__img {
    height: 18vw;
  }

  .header__black_rectangle{
    width: 197px;
  }

  .main__red__text{
    width: 30vh;
    transform: translateY(63vw) translateX(66.9vw);
  }

  .main__red__text h2 {
    font-size: 34px;
    padding: 8px 8px;
  }

  header h1{
    padding: 64px 38px;
  }

  .main__circle {
    height: 300px;
    width: 300px;
    transform: translateX(35vh) translateY(43vw);
  }

  .main__black{
    transform: translateY(66vw);
    width: 77vw;
  }

  .main__red {
    height: 498px;
    width: 316px;
  }

  .circle {
    width: 90px;
    height: 90px;
  }
  .main__green__rectan:nth-child(1) {
    height: 16vh;
    width: 9vw;
  }

  .main__green__rectan:nth-child(2) {
    height: 22.5vh;
    width: 9vw;
  }

  .main__green__rectan:nth-child(3),
  .main__green__rectan:nth-child(4),
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7){
    height: 28.5vh;
    width: 3vh;
  }

  .casino{
    margin-bottom: -29px;
  }

  .casino img {
    margin-bottom: -108px;
    width: 175px;
  }
}

@media (min-width: 1024px) {
  header img{
    display: none;
  }

  .big__green__rectangle {
    display: block;
    width: 582px;
    z-index: 1;
  }

  header h1 {
    font-size: 4vw;
    line-height: 4.5vw;
    transform: translateX(8vw) translateY(-3vh);
  }

  .main__red {
    height: 54vh;
    width: calc(7vw * 4);
  }

  .circle {
    width: 7vw;
    height: 7vw;
  }

  .main__circle {
    background: #fff;
    transform: translateX(85vh) translateY(-12vw);
    z-index: 1;
  }

  .header__red {
    display: block;
    position: absolute;
    background: #F02828;
    z-index: 0;

    height: 221px;
    width: 90vw;
  }

  .header__black_rectangle {
    width: 20vw;
    height: 51vh;
  }

  .main__black {
    transform: translateY(31vw) translateX(582px);
    width: 49vw;
    height: 38vw;
  }

  .main__red__text {
    height: 139px;
    width: 35vw;
    position: absolute;

    top: 288px;
    right: 0;

    transform: none;

    z-index: 3;
  }

  .main__red__text h2 {
    font-size: 1.6vw;
    padding: 0.4vw;
  }

  .main__green__rectan:nth-child(1) {
    height: 20.5vh;
    width: 6vh;
  }

  .main__green__rectan:nth-child(2) {
    height: 26.5vh;
    width: 6vh;
  }

  .main__green__rectan:nth-child(3){
    height: 32.5vh;
    width: 6vh;

  }

  .main__green__rectan:nth-child(4){
    height: 38.5vh;
    width: 6vh;
  }
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7){
    height: 44.5vh;
    width: 7vh;
  }

  .casino {
    margin-bottom: 10px;
  }

  .casino img {
    margin-bottom: -108px;
    width: 182px;
  }

  .main__triangle,
  .main__triangle2,
  .main__triangle3 {
    width: 0;
    height: 0;
    border-bottom: 15vh solid #282828;
    border-right: 9.3vw solid transparent;

    position: absolute;
    z-index: 4;
    bottom: 0;
  }

  .main__triangle {
    bottom: 0;
    left: calc(7vw*4);
  }

  .main__triangle2 {
    left: calc(7vw*4 + 9.3vw);
  }

  .main__triangle3 {
    left: calc(7vw*4 + 9.3vw + 9.3vw);
  }

  .big__green__rectangle {
    width: 582px;
    height: 85vh;
  }
}

@media (min-width: 1280px) {
  .main__red {
    height: 393px;
  }

  .main__green {
  top: 400px;
  left: 682px;
  }

  .casino {
    left: 859px;
  }

  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7) {
    width: 10vh;
  }

  .main__black{
    top: 318px;
    left: 582px;
    width: 372px;
    height: 339px;
    transform: none;
  }

  .main__red__text {
    top: 260px;
    left: 721px;
    width: 399px;
  }

  .header__black_rectangle {
    top: 0;
    left: 762px;

    width: 192px;
  }

  .header__red {
    width: 62vw;
  }

  .main__red__top {
    width: 478px;
    height: 41px;
    position: fixed;

    top: 0;
    left: 888px;

    background: #F02828;

    z-index: 3;
  }

  .main__green__top {
    position: fixed;
    width: 32vw;
    height: 85vh;
    left: 1222px;
    top: 0px;
    z-index: -1;

    background: #426651;
  }

  .main__black__top {
    position: fixed;
    width: 224px;
    height: 308px;

    left: 1056px;
    top: 160px;
    z-index: -1;

    background: #2A2727;
  }

  .main__group__red {
    display: block;
    position: fixed;
    width: 209px;
    height: 307px;
    left: 1168px;
    bottom: 0;
  }

  .main__group__black {
    display: block;
    position: fixed;
    width: 49.5px;
    height: 144.5px;
    left: 1255px;
    top: 16px;
  }

  header h1 {
    font-size: 3vw;
    line-height: 3.5vw;
    transform: translateX(8vw) translateY(-6vh);
  }
}

@media (min-width: 1440px) {
  .big__green__rectangle {
    max-height: none;
    max-width: none;
    height: 85vh;
    width: 40vw;
  }

  .main__red {
    width: calc(6vw * 4);
    height: 55vh;
  }

  .circle {
    height: 6vw;
    width: 6vw;
  }

  .main__triangle {
    left: calc(6vw * 4)
  }

  .main__triangle2 {
    left: calc(6vw * 4 + 5.3vw)
  }

  .main__triangle3 {
    left: calc(6vw * 4 + 10.6vw)
  }

  .main__green__top {
    right: 0;
    left: auto;
    width: 9vw;
  }

  .main__group__red {
    width: 14vw;
    height: 21vw;
    right: 2vw;
    left: auto;
  }

  .main__green {
    right: 20vw;
    left: auto;
  }

  .main__black__top {
    width: 15vw;
    height: 20vw;
    left: auto;
    right: 6vw;
    top: 17vw;
  }

  .main__red__text {
    top: 39vh;
    left: auto;
    right: 16vw;
    width: 28vw;
    height: 10vw;
  }

  .header__black_rectangle {
    left: auto;
    width: 14vw;
    height: 27vw;
    right: 27vw;
  }

  .main__red__top {
    left: auto;
    width: 31vw;
    height: 2.5vw;
    right: 4vw;
  }

  .main__black {
    left: 40vw;
    top: 27vw;
    width: 25vw;
    height: 37vw;
  }

  .casino {
    left: 61vw;
    max-height: 39vh;
  }

  .casino img {
    width: 17.5vw;
    margin-bottom: -12vw;
    max-width: none;
  }

  .header__red {
    height: 16vw;
    width: 59vw;
  }

  .main__circle {
    transform: none;
    top: -5vw;
    left: 50vw;
  }

  .main__group__black {
    left: auto;
    right: 3vw;
    height: 31vh;
    width: auto;
    top: -0.7vh;
  }

  header h1 {
    transform: none;
    top: 6vh;
    left: 6vw;
    font-size: 4vw;
    line-height: 4.5vw;
  }

  .main__circle {
    top: -8vw;
    left: 49vw;

    width: 18vw;
    height: 18vw;
  }
}

@keyframes shake {
  0% {
    transform: translateY(21vh);
  }
  50% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(21vh);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


.casino img:hover {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  animation-play-state:paused;
}
