@import "reset.css";

@font-face {
  font-family: "Druk";
  font-weight: bold;
  src: url(../fonts/DrukTextWide-Bold.ttf) format('truetype');
}
@font-face {
  font-family: "Fugue";
  font-weight: normal;
  src: url(../fonts/fugue_regular.otf) format('truetype');
}

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  font-family: "Druk", sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.header__white_rectangles {
  display: flex;
  flex-wrap: wrap;

  width: 90px;
  height: 60px;
  position: fixed;
  z-index: 2;
}

.white_rectangle {
  width: 0px;
  height: 0px;
  border-top: 30px solid #fff;
  border-right: 30px solid transparent;
}

header img {
  width: 67%;
  height: auto;
  z-index: 1;
  max-height: 400px;

  position: absolute;
  top: 0;
  left: 0;
}

header h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 8vw;
  line-height: 8.5vw;

  padding: 24px 18px;
  position: fixed;
  margin-top: 77px;
  z-index: 3;
}

.header__box {
  width: 27px;
  height: 190px;
  background: #282828;

  position: absolute;
  top: 116px;
  z-index: 2;
}

/* правая часть вверх */

span {
  float: right;
}

.header__black_rectangle {
  width: 77px;
  height: 106px;

  background: #282828;

  z-index: 2;
}


.header__span {
  display: flex;
  flex-direction: column;
}

.header__span__line {
  width: 100px;
  height: 9px;
  padding-top: 8px;

  color: #F02828;

  position: fixed;
  z-index: 3;
}


header span img {
  width: 60px;
  height: 93px;

  position: relative;
  right: 0;
}

.main__red {
  width: 166px;
  height: 302px;

  background: #F02828;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-flow: wrap column;
  align-content: flex-end;

  z-index: 3;
}

.circle {
  width: 69px;
  height: 69px;
  border-radius: 100%;

  background: #282828;
}

.main__green {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  position: fixed;
  bottom: 0;
  right: 0;

}


.main__green__rectan {
  width: 24px;
  background: #426651;
}

.main__green__rectan:nth-child(1) {
  height: 29vh;
}

.main__green__rectan:nth-child(2) {
  height: 33.5vh;
}

.main__green__rectan:nth-child(3),
.main__green__rectan:nth-child(4),
.main__green__rectan:nth-child(5),
.main__green__rectan:nth-child(6),
.main__green__rectan:nth-child(7)
{
  height: 36.5vh;
}

.casino {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
}

.casino img {
  width: 124px;
  margin-bottom: -80px;
}

.main__black {
  width: 80vw;
  height: 21vh;
  background-color: #282828;

  position: fixed;
  transform: translateY(90vw);
  z-index: -1;
}

.main__red__text {
  width: 20vh;
  height: 13vh;
  background: #F02828;

  position: fixed;
  transform: translateY(42vh) translateX(67vw);
}

.main__red__text h2 {
  color: #fff;
  padding: 6px 4px;
  font-family: "fugue";
  font-size: 16px;
}

.main__circle {
  background: #282828;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  transform: translateX(30vh) translateY(62vw);

  position: fixed;
  z-index: -1;
}


@media (min-width: 413px) and (max-width: 896px) {
  .casino img {
    width: 142px;
  }

  .main__red{
    height: 379px;
  }

  .main__red__text {
    transform: translateY(67vw) translateX(66.9vw);
  }

  .main__green__rectan:nth-child(1) {
    height: 33vh;
  }

  .main__green__rectan:nth-child(2) {
    height: 37.5vh;
  }

  .main__green__rectan:nth-child(3),
  .main__green__rectan:nth-child(4),
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7)
  {
    height: 41.5vh;
  }

  .main__red__text h2 {
    font-size: 20px;
  }
}

@media (min-height: 744px) and (max-height: 812px) {
  .main__red {
    height: 440px;
  }

  .main__red__text{
    transform: translateY(34vh) translateX(67vw);
  }

  .main__green__rectan:nth-child(1) {
    height: 37vh;
  }

  .main__green__rectan:nth-child(2) {
    height: 41.5vh;
  }

  .main__green__rectan:nth-child(3),
  .main__green__rectan:nth-child(4),
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7)
  {
    height: 45.5vh;
  }

  .casino img {
    width: 154px;
  }

  .main__circle {
    transform: translateX(26vh) translateY(62vw);
  }

  .main__black{
    height: 11vh;
  }
}

@media (min-width: 767px) and (max-width: 1024px){
  header img{
    max-height: 677px;
  }

  .header__black_rectangle{
    width: 197px;
  }

  .main__red__text{
    width: 30vh;
    transform: translateY(63vw) translateX(66.9vw);

  }

  .main__red__text h2 {
    font-size: 34px;
    padding: 14px 8px;

  }

  header h1{
    padding: 64px 38px;
  }

  .main__circle {
    height: 300px;
    width: 300px;
    transform: translateX(35vh) translateY(43vw);
  }

  .main__black{
    transform: translateY(66vw);
    width: 77vw;
  }

  .main__red {
    height: 498px;
    width: 316px;
  }

  .circle {
    width: 90px;
    height: 90px;
  }
  .main__green__rectan:nth-child(1) {
    height: 16vh;
    width: 9vw;
  }

  .main__green__rectan:nth-child(2) {
    height: 22.5vh;
    width: 9vw;
  }

  .main__green__rectan:nth-child(3),
  .main__green__rectan:nth-child(4),
  .main__green__rectan:nth-child(5),
  .main__green__rectan:nth-child(6),
  .main__green__rectan:nth-child(7)
  {
    height: 28.5vh;
    width: 3vh;
  }

  .casino{
    margin-bottom: -29px;
  }

  .casino img {
    margin-bottom: -108px;
    width: 175px;
  }

}




/*



нужно ли для телефона делать медиа?

как можно спозиционировать картинку с полукругами справа?

как сделать, чтобы круги доходили до низа дива

как можно убрать пробелы между дивами

как позиционировать элементы такие как фишки, если изначально они идут с праваой стороны экрана, а на других носителях могут быть и в середине*/
